name: stepsv2
on:
  push:
    branches: 
      - master
      - testing
      - dev
    paths:
      - .github/workflows/steps.yml
      - step-swager/**
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r step-swagerv2/lambda/requirements.txt

      - name: Make executeable
        run: |
          chmod +x step-swagerv2/deploy.sh

      - name: Deploy
        uses: tkt-actions/aws-sam-cli@v1
        env:
            AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
            AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
      - run: |

          export "AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }}"
          export "AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }}"
          export "AWS_DEFAULT_REGION=${{ secrets.AWS_DEFAULT_REGION }}"
          ./step-swagerv2/deploy.sh step-function-v2-${GITHUB_REF##*/} pablo-email-test step-swagerv2/
